@font-face {
	font-family: Blacksword;
	src: url("polices/Blacksword.otf");
}

*{
	margin: 0px;
	padding: 0px;
	scroll-behavior: smooth;
	box-sizing: border-box;
}

body{
	text-align: center;
	font-weight: bold;
	font-size: 3em;
}

.fixed_objects{
	display: flex;
	justify-content: center;
	width: 100%;
	position: fixed;
}

nav{
	height: 100%;
	width: 20%;
	position: absolute;
	top: 20px;
	right: 20px;
	/*display: none;*/
	background: transparent;
	transition: all 0.7s ease-in-out;
}

nav.open{
	background-color: seagreen;
}

h1{
	font-family: Blacksword;
	margin-top: 100px;
	font-size: 2em;
	z-index: 2;
}

#first-page{
	width: 100%;
	background-image: url("images/jungle8.jpg");
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
}

#second-page{
	width: 100%;
	background-color: green;
}

#third-page{
	width: 100%;
	background-color: navy;
}

#up-arrow{
	transform: rotate(270deg);
	width: 50px;
	position: fixed;
	bottom: 90px;
	align-self: center;
}

#down-arrow{
	transform: rotate(90deg);
	width: 50px;
	position: fixed;
	bottom : 50px;
	align-self: center;
}

#down-arrow:hover, #up-arrow:hover{
	width: 60px;
}

.burger_menu{
	width: 80px;
	height: 80px;
	position: fixed;
	top: 30px;
	right: 20px;
	align-self: center;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: all 0.7s ease-in-out;
	z-index: 10;
}

.burger_menu:hover{
	transform: rotate(0.5turn);
}

.burger_menu.open .burger_line{
	transform: translateX(-50px);
	background: transparent;
	box-shadow: none;
}

.burger_menu.open .burger_line::before{
	transform: rotate(45deg) translate(35px, -35px);
	box-shadow: none;
	background: white;
}

.burger_menu.open .burger_line::after{
	transform: rotate(-45deg) translate(35px, 35px);
	box-shadow: none;
	background: white;
}

.burger_line{
	width: 50px;
	height: 6px;
	background-color: black;
	border-radius: 5px;
	transition: all 1s .3s ease-in-out;
	box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
}

.burger_line::before, .burger_line::after{
	content: '';
	display: block;
	position: absolute;
	width: 50px;
	height: 6px;
	background-color: black;
	border-radius: 5px;
	transition: all 1s .3s ease-in-out;
	box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
}

.burger_line::before{
	transform: translateY(-16px);
}

.burger_line::after{
	transform: translateY(16px);
}



#test_button{
	height: 50px;
	width: 50px;
	border-radius: 100%;
	color: transparent;
	border: solid black 8px;
	box-sizing: content-box;
	position: absolute;
	left: 20px;
	top: 30px;
}

#test_button:hover{
	cursor: pointer;
}